/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/fira-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-mono: 'Fira Mono', monospace;

		--background: #000000bb;
		--foreground: #fff;

		--primary-color: #1a237e;
		--secondary-color: #ffc107;
		--tertiary-color: #4caf50;
	}

	body {
		color: var(--foreground);
		background: var(--background);
	}
}
